################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/C-Sharp_Cod3r/v16
/CursoCSharp/.vs/CursoCSharp/v16/Server/sqlite3
